html,
body {
  height: 100%;
}

body {
  font-size: 10px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto;
  background: white;
  /* overflow: hidden; */
}

.logo-text {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;

  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
  font-family: "Permanent Marker", cursive, Roboto, sans-serif;
}

.nav-back-link {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-title {
  font-size: 20px;
  margin: 0.1em auto;
}

@media (min-width: 245px) {
  .nav-title {
    font-size: 10vw;
  }
}
@media (min-width: 450px) {
  .nav-title {
    font-size: 45px;
  }
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail-list {
  list-style: none;
  padding: 20px 0;
  margin-top: 50px;
  margin-bottom: 35px;
  white-space: nowrap;
  overflow-x: auto;
  /* overflow-y: scroll; */
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.thumbnail-item {
  /*    border: 1px solid rgb(100%, 100%, 100%);*/
  /*    border: 1px solid rgba(100%, 100%, 100%, 0.8);*/
  display: inline-block;
  min-width: 120px;
  max-width: 120px;

  transition: transform 133ms ease-in-out;
}
.thumbnail-item:hover {
  transform: scale(1.2);
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 5px 10px;
  height: auto;

  background: darkred;
  color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.thumbnail-image {
  width: 100%;
  height: 85%;
  /* because they were stretched vertically at height 100% */
  display: block;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame {
  position: relative;
  text-align: center;

  transition: transform 333ms;
}

.detail-image-frame-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 0)),
    color-stop(1%, rgba(0, 0, 0, 0)),
    to(#000)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 1%,
    #000 100%
  );
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail-image {
  width: 95%;
}

.detail-image-title {
  position: absolute;
  bottom: -16px;
  left: 4px;
  z-index: 2;
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 28px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

/*hide detail image when I add this class*/
.hidden-detail .detail-image-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item {
  max-width: 80%;
}

/* Media Queries */
@media all and (min-width: 768px) {
  .logo-text {
    flex-direction: row;
  }
  .detail-image-title {
    font-size: 40px;
  }

  .main-content {
    flex-direction: row;
    overflow: hidden;
  }
  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    padding: 35px;
  }
  .thumbnail-item {
    max-width: 260px;
  }
  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }

  /* Customizing scrollbar */
  .thumbnail-list::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  .thumbnail-list::-webkit-scrollbar-thumb {
    /* background-color: rgb(83, 6, 22); */
    background-color: black;
  }

  .thumbnail-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  /* ******************************* */
}
