html, body {
    height: 100%;
/*    overflow: hidden;*/
}

body {
    font-size: 10px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.main-header {
    flex: 0 1 auto;
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
    font-family: 'Permanent Marker', cursive, Roboto, sans-serif;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.thumbnail-list {
    list-style: none;
    padding: 20px 0;
    margin-top: 50px;
    white-space: nowrap;
    overflow-x: auto;
/*    overflow-y: hidden;*/
    flex: 0 1 auto;
    order: 2;
    display: flex;
    justify-content: space-between;
}

/*omitting first thumbnail*/
.thumbnail-item + .thumbnail-item {
/*    margin-top: 10px;*/
}

.thumbnail-item {
/*    border: 1px solid rgb(100%, 100%, 100%);*/
/*    border: 1px solid rgba(100%, 100%, 100%, 0.8);*/
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    
    transition: transform 133ms ease-in-out;
}
.thumbnail-item:hover {
    transform: scale(1.2);
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 5px 10px;
    height: auto;
    
    background: rgb(200, 0, 0);
    color: lightgrey;
    font-size: 18px;
}

.thumbnail-image {
    width: 100%;
    height: 85%;
    /* because they were stretched vertically at height 100% */
    display: block;
}

.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    position: relative;
    text-align: center;
    
    transition: transform 333ms;
}

.is-tiny {
    transform: scale(0.001);
    transition: transform 0ms;
}

.detail-image {
    width: 95%;
}

.detail-image-title {
    position: absolute;
    bottom: -16px;
    left: 4px;
    
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
    
}

/*hide detail image when I add this class*/
.hidden-detail .detail-image-container {
    display: none;
}

.hidden-detail .thumbnail-list {
    flex-direction: column;
    align-items: center;
}

.hidden-detail .thumbnail-item {
    max-width: 80%;
}

/* Media Queries */
@media all and (min-width: 768px) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }
    .thumbnail-list {
        flex-direction: column;
        order: 0;
        margin-left: 20px;
        padding: 35px;
    }
    .thumbnail-item {
        max-width: 260px;
    }
    .thumbnail-item + .thumbnail-item {
        margin-top: 20px;
    }
}